

section	{
	
	max-width: 51%;
	text-align: center;
	align-content: space-between;
	margin: 200px auto;
	background-color: gray;
	border-radius: 3px;
	padding: 3px 0 0 3px;
	}

article	{
	max-width: 100%;
	display: inline-block;
	text-align: center;
	margin: 3px;
	border: 1px solid black;
	border-radius: 5px;
	background: url("../images/landscape1.jpg");
}

.circle2, .circle3	{
	width: 60px;
	height: 60px;
	
	border-radius: 50%;
	position: relative;
	top: 40px;
    left: 75px;

    background-color: lightgray;
	background: url("../images/landscape1.jpg");
	
}

.circle1	{
	width: 60px;
	height: 60px;
	background-color: lightgray;
	background: url("https://static.pexels.com/photos/3247/nature-forest-industry-rails.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 50%;
	position: relative;
	top: 40px;
    left: 75px;

}

p	{
	max-width: 100%;
	height: auto;
	border-radius: 0 0 5px 5px;
	display: inline-block;
	margin: 10px 0 0 0;
	background-color: lightgray;
	padding: 40px 15px 10px
	
}







/*.cover	{

	max-width: 100%;
	height: auto;
	margin: 0 auto;
	
	/*background: url("../images/landscape1.jpg");*/


	/*height: 300px;*/
	background-size: cover;
	background-position: center center;
	border: 7px solid gray;
	border-radius: 3px;

	position: relative;
	bottom: -100px;


	/*
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	*/
}*/

.first	{
	background-color: yellow;
	background: url("../images/landscape1.jpg");
	
}

.second	{
	background-color: blue;
	
	
}


.third	{
	background-color: orange;

		}


